{# # This file is part of the YesWiki Extension twolevels.
# Authors : see README.md file that was distributed with this source code.
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code. 
#}

{{ include_css("tools/twolevels/styles/enum-field.css") }}
<span class="enum-to-level-field-linked-object-name" data-field-linked-object-name="{{field.linkedObjectName}}"></span>
</span>
{{ include([
    "custom/templates/tools/bazar/templates/inputs/select.twig",
    "custom/templates/bazar/templates/inputs/select.twig",
    "custom/templates/bazar/inputs/select.twig",
    "themes/tools/bazar/templates/inputs/select.twig",
    "themes/tools/bazar/inputs/select.twig",
    "tools/bazar/templates/inputs/select.twig",
    ],{renderedFromTwoLevels:true}) }}
